<header>
  <div>
    <span>DSV <em>&</em> NODE JS</span>
  </div>
  <nav class="menu">
    <ul class="list">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/images">Images</a></li>
    </ul>
    <form action="/check-user" method="post">
      <input name="username" type="text" placeholder="your name" required>
      <input name="email" type="email" placeholder="your email" required>
      <button type="submit">Search of user</button>
    </form>
  </nav>
</header>
 